body {
    font: 15px "ff-tisa-web-pro";
    line-height: 1.4em;
}

a,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color:#000;
}

.wrap {
    width:50%;
    margin:0px auto;
    max-width:900px;
    margin-bottom:150px;

}

h1 {
    font-size:3em;
    margin-top:60px;
    margin-bottom:20px;
}

p {
    margin-bottom:30px;
    line-height:160%;
    font-size:20px;
    word-spacing:2px;
}

.imgSmall {
    width: 100%;
}

.footer {
    border:0px;
    display:block;
}

/* small */
@media (max-width: 480px) {
    .wrap {
        width:90%;
    }

    h1 {
        font-size:2em;
    }
}

/* tablet */
@media (max-width: 800px) {
    .wrap {
        width:90%;
    }

    h1 {
        font-size:2em;
    }  
}

/* small desktop */
@media (min-width: 800px) and (max-width: 1100px) {
    .wrap {
        width:80%;
    }

    h1 {
        font-size:3em;
    }   
}