*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    width:50%;
    margin:0px auto;
    max-width:900px;
    margin-bottom:150px;
}

img.imgSmall {
    width:100%!important;
    height:auto!important;
    cursor:-webkit-zoom-in!important;
    cursor:-moz-zoom-in!important;
    cursor:url("cur/zoomin.cur"),pointer;
    margin:0px 0px 30px 0px;
}

img.imgLarge {
    position: fixed;
    background:#fff;
    top:0%;
    left: 0%;
    right:0;
    margin:0 auto!important;
    display: inline-block;
    vertical-align: middle;
    width:70%;
	padding:1em;
    max-width:1000px;
    height:auto;
    cursor:-webkit-zoom-out!important;
    cursor:-moz-zoom-out!important;
    cursor:url("cur/zoomout.cur"),pointer;
    background:#fff;
}


/* small */
@media (max-width: 480px) {
    .wrap {
        width:90%;
    }
}

/* tablet */
@media (max-width: 800px) {
    .wrap {
        width:90%;
    }
}

/* small desktop */
@media (min-width: 800px) and (max-width: 1100px) {
    .wrap {
        width:80%;
    }  
}