*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 15px "ff-tisa-web-pro";
    line-height: 1.4em;
}

.stop-scrolling {
    overflow-y:hidden;
}

a,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color:#000;
}

.wrap {
    width:50%;
    margin:0px auto;
    max-width:900px;
    margin-bottom:150px;

}

h1 {
    font-size:3em;
    margin-top:60px;
    margin-bottom:20px;
}

p {
    margin-bottom:30px;
    line-height:160%;
    font-size:20px;
    word-spacing:2px;
}

img.imgSmall {
    width:100%!important;
    height:auto!important;
    cursor:-webkit-zoom-in!important;
    cursor:-moz-zoom-in!important;
    cursor:url("cur/zoomin.cur"),pointer;
    margin:0px 0px 30px 0px;
}

img.imgLarge {
    position: fixed;
    background:#fff;
    top:0%;
    left: 0%;
    right:0;
    margin:0 auto!important;
    display: inline-block;
    vertical-align: middle;
    width:70%;
	padding:1em;
    max-width:1000px;
    height:auto;
    cursor:-webkit-zoom-out!important;
    cursor:-moz-zoom-out!important;
    cursor:url("cur/zoomout.cur"),pointer;
    background:#fff;
}


.footer {
    border:0px;
    display:block;
}

/* small */
@media (max-width: 480px) {
    .wrap {
        width:90%;
    }

    h1 {
        font-size:2em;
    }
}

/* tablet */
@media (max-width: 800px) {
    .wrap {
        width:90%;
    }

    h1 {
        font-size:2em;
    }  
}

/* small desktop */
@media (min-width: 800px) and (max-width: 1100px) {
    .wrap {
        width:80%;
    }

    h1 {
        font-size:3em;
    }   
}